/*      HEADER      */
header{
    max-width: 600px;
    height: 140px;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-secundario);
}
header > div{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--color-terciario);
}
header > div > img{
    height: 80%;
}

header > a{
    width: 200px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
header > a > h1{
    font-size: 1.5em;
}
