.contenedor{
    grid-template-rows: 15vh  85vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"menu           menu"
                        "formulario     formulario";
}

form{
    width: 90%;
    height: 100%;
    grid-area: formulario;
    margin: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form > div{
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: var(--color-primario);
    background: var(--color-terciario);
}

form > div > fieldset{
    padding: 5px;
    margin: 1em auto;
    border-color: var(--color-primario);
}
form > div > fieldset > legend{
    margin: auto;
    padding: 0 2em;
}
form > div > fieldset  > div{
    width: 100%;
    max-width: 300px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}
form > div > fieldset > div > label{
    width: 35%;
    display: inline-flex;
}
form > div > fieldset > div > input,
form > div > fieldset > div > select{
    width: 65%;
    padding: 0 .5em;
    background: var(--color-primario);
    border: none;
}
form > div > fieldset > div > select{
    padding: 0;
}

form > div > input{
    width: 200px;
    margin: 1em auto;
    font-size: 1.3rem;
    cursor:  pointer;
}
