@import url(general.css);
@import url(nav.css);

main{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);
}

div{
    width: 90%;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}
div > section > h2{
    font-size: 2em;
    text-transform: uppercase;
}
div > .reservado > h3{
    font-size: 2em;
    color: #008f39;
}
div > .noreservado > h3{
    font-size: 2em;
    color: #FF0000;
}
div > section > p{
    width: 80%;
    margin: auto;
    font-size: 1.5em;
}
div > p{
    font-size: 1.5em;
    margin-top: 3em;
}