/*  CONTENEDOR DE ESTA PAGINA   */
.contenedor{
    grid-template-rows: 15vh  minmax(85vh, auto) ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"menu           menu"
                        "contenido     contenido";
}

/*  SECCION CONTENENIDO GENERAL */
.contenido{
    width: 90%;
    grid-area: contenido;
    margin: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido > .titulo > h2{
    font-size: 1.8em;
    text-align: center;
    margin: .8em auto;
}

/*  LINEA DE RADIO EN CADA PESTAÑA  */
.tabset input[type="radio"] {
    position: absolute;
    left: -200vw;
}

/*  OCULTAR LOS TABS NO SELECCIONADO*/
.tabset .tab-panel {
    display: none;
}

/*  MOSTRAR CADA INFORMACION DE CADA PESTAÑA    */
.tabset input:first-child:checked ~ .tab-panels .tab-panel:first-child,
.tabset input:nth-child(3):checked ~ .tab-panels .tab-panel:nth-child(2),
.tabset input:nth-child(5):checked ~ .tab-panels .tab-panel:nth-child(3),
.tabset input:nth-child(7):checked ~ .tab-panels .tab-panel:nth-child(4),
.tabset input:nth-child(9):checked ~ .tab-panels .tab-panel:nth-child(5),
.tabset input:nth-child(11):checked ~ .tab-panels .tab-panel:nth-child(6) {
    display: block;
}
  
/*  ESTILOS DE CADA TABS    */
.tabset > label {
    position: relative;
    display: inline-block;
    padding: 10px 10px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
}
  
.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: var(--color-primario);
}

/* .tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
    color: #06c;
} */
  
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: var(--color-cuartenario);
}
  
.tabset > input:checked + label {
    border-color: var(--color-primario);
}
  
.tab-panel {
    margin-top: 1em;
    padding: 1.5em 0 0 0;
    border-top: 1px solid var(--color-primario);
}
.tab-panel > section{
    width: 100%;
}
.tab-panel > section > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-panel > section > div > div{
    width: 150px;
    height: 50px;
    margin: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-terciario);
    background: var(--color-primario);
    font-size: 1.3em;
    border-radius: 5px;
}
